*{
  margin:0;
  padding: 0;
  
}

 
.App {   
  display:flex;
  align-items: center;
  justify-content: center;  
  

}


.quote-touggle{ 
  display: flex;
  margin-top: 150px; 
  height: 250px ;
  width: 500px;  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: wheat;
  border-radius:15px;
 
}
.quote-svg{  
  width: 60px;
  height: 60px;
  padding-top: 1px;
  margin-right: 350px;
  

  
}

.arrow-svg{
  width: 40px;
  height: 40px;
}

.p-Quote{ 
text-align: center;
  
}


.p-Author{
 margin-left: 300px;
 
}

.img-arrow{
  margin-left: 400px;
}

